
<!DOCTYPE html>
<html>
<head>
<title>Travel Planning App</title>
</head>
<body>
<h1>Travel Planning App</h1>
<form action="/submit_plan" method="POST">
<label for="destination">Destination:</label>
<input type="text" name="destination">
<br>
<label for="start_date">Start Date:</label>
<input type="date" name="start_date">
<br>
<label for="end_date">End Date:</label>
<input type="date" name="end_date">
<br>
<label for="activities">Activities:</label>
<textarea name="activities"></textarea>
<br>
<input type="submit" value="Submit">
</form>
</body>
</html>


